body {
  counter-reset: figure-caption;
}

figure,
.figure {
  display: flex;
  flex-direction: column;
  align-items: center;

  counter-increment: figure-caption;
}
figcaption::before,
.caption::before {
  content: "Fig. " counter(figure-caption) ": ";
}
